
*.data-00000-of-00001
DensityClassifier/training_checkpoints_128/checkpoint
*.index
DensityClassifier/training_checkpoints_16/checkpoint
DensityClassifier/training_checkpoints_32/checkpoint
DensityClassifier/training_checkpoints_4/checkpoint
DensityClassifier/training_checkpoints_64/checkpoint
DensityClassifier/training_checkpoints_8/checkpoint
*.h5
*.png
*.v2
Weighted_proGAN/Density_checkpoint/training_checkpoints_128/checkpoint
Weighted_proGAN/Density_checkpoint/training_checkpoints_16/checkpoint
Weighted_proGAN/Density_checkpoint/training_checkpoints_32/checkpoint
Weighted_proGAN/Density_checkpoint/training_checkpoints_64/checkpoint
Weighted_proGAN/Density_checkpoint/training_checkpoints_4/checkpoint
Weighted_proGAN/Density_checkpoint/training_checkpoints_8/checkpoint
*.zip
